* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-top: 20%;
}

.title button {
    align-self: center;
}

.title {
    font-family: 'Rubik Bubbles', cursive;
    font-size: 65px;
    color: rgb(152, 199, 0);
    text-shadow: 5px 5px black;
}

body {
    background-image: url(https://cdn4.vectorstock.com/i/1000x1000/00/43/beer-paper-wood-background-vector-1630043.jpg);
    background-image: url("./assets/images/beer\ backbroud.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.button {
    background-color: bisque;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    font-weight: bold;
  }

  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

#enterBtn:hover {
    background-color: #e1b183;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: orange;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.modal-card-head {
    background-color: #e1b183;
    text-align: center;
}

.modal-card-body {
  background-color: #ffebd0;
  text-align: center;
}

.modal-card-foot {
    background-color: #e1b183;
    text-align: center;
}

.modal-card-foot button{
    background-color: #e1b183;
    text-align: center;
    padding: 10px;
}

.modal-card {
    width: 660px;
}