* {
    box-sizing: border-box;
}

:root {
    --spacing: 5px;
}

html {
    background-image: url("./images/beer-background_3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.content p {
    font-size: 14px;
}


.navbar {
    background-color: #ce7000;
}

.navbar-item {
    color: black;
}

button {
    text-transform: capitalize;
}

.card {
    background-color: #f7941d;
    color: black;
}

#clear-history {
    margin: 5px 0px;
}
#brewery-display-container {
    min-height: 230px;
    border: 1px solid gray;
}

#clear-history {
    margin: 5px 0px;
}

#search-title {
    font-size: 30px;
    color: rgb(137, 228, 27);
    font-family: 'Rubik Bubbles', cursive;
    text-shadow: 5px 5px black;
}

#search-bar-container, input, #button-container button {
    margin-bottom: var(--spacing);
}

#button-container {
    padding-top: var(--spacing);
    border-top: 2px solid gray;
}
.hide {
    display: none;
}
aside{
    position: sticky; top: 0;
    overflow-y: scroll;
    background-color: #b36332;
    padding: 5px;
    border-radius: 4px;
    margin-top: 35px;
}

.title {
    font-family: 'Rubik Bubbles', cursive;
    /* font-size: 65px; */
    color: rgb(152, 199, 0);
    text-shadow: 5px 5px black;
    text-align: center;
    /* background-color: #fff; */
    /* border-radius: 5px; */
    /* padding: 20px; */
}

.subtitle {
    text-align: center;
}

.card-footer-item {
    color: #000;
}

.card-footer-item:hover {
    cursor: pointer;
    background-color: #f4a90f;
}

.select{
    margin-bottom: 5px;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 400px;
    /* The width is the width of the web page */
    
}
    border-radius: 5px;

  }

.favBtnObj {
      background-color: #f7941d;
      border-radius: 5px;
      border-color: bisque;
      border-width: 4px;
}

.favBtnObj:hover {
      background-color: #ce7000;
}
/* .delete {
   background-color: #ce7000;
} */

  #small-navbar {
      display: none;
      text-align: center;
  }

  #small-navbar .button {
    font-family: 'Rubik Bubbles', cursive;
    margin: 5px;
    width: 30%;

  }

  @media screen and (max-width: 768px) {
    body {
      background-color: #e1b183;
      background-image: url("./images/background-mobile-2.jpg");
      background-repeat: no-repeat;
    }

    aside {
        display: none;
    }

    #small-navbar {
        display:block;
    }

    #filler {
        display: none;
    }
  }




  