* {
    box-sizing: border-box;
}

:root {
    --spacing: 5px;
}

html {
    background-image: url(https://cdn4.vectorstock.com/i/1000x1000/00/43/beer-paper-wood-background-vector-1630043.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* height: 100%; */
}

#search-btn {
    margin: 5px 0px;
}

#clear-history {
    margin-bottom: 5px;
}


.navbar {
    background-color: goldenrod;
}

.navbar-item {
    color: black;
}

button {
    text-transform: capitalize;
}

.btn {
    margin: 2px;
}

#brewery-display-container {
    min-height: 230px;
    border: 1px solid rgb(16, 195, 0);
}

#search-title {
    font-size: 30px;
    color: rgba(20, 175, 0, 0.824);
    font-weight: bolder;
}
#search-bar-container, input, #button-container button {
    margin-bottom: var(--spacing);
}

#button-container {
    padding-top: var(--spacing);
    border-top: 2px solid gray;
}
.hide {
    display: none;
}

.card {
    background-color: goldenrod;
    font-size: 15px;
    color: black;
}