@import url('https://fonts.googleapis.com/css?family=Comfortaa');
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family:'comfortaa', cursive;

}


body {
    background: url('https://i.imgur.com/97qzQlk.jpeg');
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: orange;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.type-options label:hover {
    background-color: #dfd;
  }
.type-options input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
 }
.type-options label {
     display: inline-block;
     background-color: #ddd;
     padding: 10px 20px;
     font-family: sans-serif, Arial;
     font-size: 16px;
     border: 2px solid #444;
     height: 40px;
     text-align: center;
     border-radius: 100px;
 }
.type-options input[type="radio"]:checked + label {
     background-color:#bfb;
     border-color: #4c4;
 }
 /* .type-options input[type="radio"]:focus + label {
     border: 2px dashed #444;
 } */
.type-options label:hover {
     background-color: #dfd;}