@import url('https://fonts.googleapis.com/css?family=Comfortaa');
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family:'comfortaa', cursive;

}


html {
    background-image: url("./images/beer\ backbroud_2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* height: 100%; */
}

h2 {
    color: #fff;
    font-size: large;
}

h2 span {
    color: rgb(152, 199, 0);
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: #c99106;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    text-align: center;
    

}

.fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.title {
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 65px;
    color: rgb(152, 199, 0);
    text-shadow: 5px 5px black;
    

}

.container {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background: rgba(0, 0, 0, 0.6);
    /* max-width: 550px; */
    /* width: 40%; */
    padding: 15px;
    
    border-radius: 5px;
}

.type-options label:hover {
    background-color: #dfd;
  }


.type-options input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
 }
 
.type-options label {
     display: inline-block;
     background-color: #ddd;
     padding: 10px 20px;
     font-family: sans-serif, Arial;
     font-size: 16px;
     border: 2px solid #444;
     border-radius: 4px;
     width:33%;
     text-align: center;
 }
 
.type-options input[type="radio"]:checked + label {
     background-color:#e9bc02;
     
 }
 
 /* .type-options input[type="radio"]:focus + label {
     border: 2px dashed #444;
 } */
 
.type-options label:hover {
     background-color: #f3d558;
   }

.subtitle {
    text-align: center;
}

@media screen and (max-width: 768px) {
    body {
      background-color: #e1b183;
      background-image: url("./images/background-mobile-2.jpg");
      background-repeat: no-repeat;
    }
    .container{
        display: none;
    }
    aside {
        display: none;
    }

    #small-navbar {
        display:block;
    }

    #filler {
        display: none;
    }
  }
